.buttonWrapper {
  height: 20px;
  width: 20px;
  border-radius: 50%;

  cursor: pointer;
  color: black;

  display: flex;
  justify-content: center;
  align-items: center;

  &:first-child {
    margin-bottom: 5px;
  }
}

.default {
  background-color: white;
}

.active {
  background-color: red;
}
