.floorWrapper {
  position: relative;
  padding: 0 10px;
  flex-grow: 1;

  display: flex;
  justify-content: space-between;

  &:not(:first-child) {
    border-bottom: gold solid 5px;
  }

  .panelInfoSelector {
    display: flex;
    align-items: center;

    .floorNumWrapper {
      text-align: center;

      .numWrapper {
        font-size: 25px;
        font-weight: bold;
      }
    }

    .buttonWrapper {
      margin-left: 10px;
      display: flex;
      flex-direction: column;
    }
  }

  .peoples {
    display: flex;
    align-items: center;

    img {
      //display: none;
      height: 40px;
    }

    .peopleCount {
      margin-left: 10px;
      font-weight: bold;
      &::before {
        margin-right: 10px;
        content: '✖';
      }
    }
  }
}